.Background {
    background: linear-gradient(-45deg, #cbd2ec, #4e5d9b, rgb(34, 47, 101), rgb(2, 13, 62));
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
    height: 100vh;
}

.signInBox {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
